@import 'base';

html, body{
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  height:100%;
  width:100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 1.8rem;
  color: $header-color;
}

#mlh-trust-badge { //#mlh-trust-badge {
	display: block;
	max-width: 80px;
	min-width: 60px;
	position: fixed;
	//right: 50px;
	right: 1rem;
	top: 0;
	width: 10%;
	z-index: 10000;

	@include media-breakpoint-down(md-lg) {
		left: 1rem;
	  	//width: 10%;
	}
}

@import 'components/all'