@import 'base';

html, body{
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  height:100%;
  width:100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 1.8rem;
  color: $header-color;
}

.mlh-badge {
	border: none;
	display: block;
	max-width: 95px;
	min-width: 30px;
	position: fixed;
	right: 2rem;
	top: 0;
	width: 10%;
	z-index: 100;

	@include media-breakpoint-down(md) {
	  left: 2rem;
	  right: auto;
	  width: 10%;
	  max-width: 85px;
	}
}

@import 'components/all'