.action-button {
  min-width: 10rem;
  padding: 0.3rem 1rem;
  margin: 1.5rem 0;
  background: $dark-blue;
  border: 2px solid $dark-blue;
  border-radius: $border-radius;
  color: $white;
  display: inline-block;
  transition: background 100ms linear, color 100ms linear;
  
  &:hover {
    cursor: pointer;
    background: transparent;
    color: $dark-blue;
    text-decoration: none;
    border-width: 2px;
  }

  &--inline {
    display: inline;
    margin: 0;
    min-width: 0;
  }

  &--sponsor {
    color: $gradient-dark-blue;
  }
}