.hero {
  width: 100%;
  height: 100%;
  background: linear-gradient(20deg, $default-blue 0, $default-blue 33%, $light-purple 33%, $light-purple 66%, $light-green 66%, $light-green 100%);
  overflow: overlay;  
  color: $hero-font-color;

  &--sponsor {
    background: $cta-gradient;
    color: $hero-font-color;
  }

  @include media-breakpoint-up(md) {
    min-height: 30rem;
  }

  &__logo {
    width: 10rem;
    margin: 5rem 0 2rem;
  }

  &__tagline {
    margin: 5rem 0 2rem;
    font-size: 3.75rem;
    font-family: 'Reem Kufi', sans-serif;
  }

  &__location {
    text-transform: uppercase;
    font-size: 1.3rem;
  }

  &__date {
    font-size: 1.1rem;
  }

  &__desc {
    font-size : 1.3rem;
  }

  &__feature-image {
    padding-bottom: 3em;
    margin-top: 7rem;
    -webkit-filter: drop-shadow( 8px 8px 7px #808080); 
    filter: drop-shadow( 8px 8px 7px #808080);
    margin-left : 7rem;
    transform: rotate(20deg);
  }

  &__cta {
    margin-top: 2.2rem;
  }
}