.hero {
  width: 100%;
  min-height: 100vh;
  background: url(/assets/gradient-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  color: $hero-font-color;

  
  @include media-breakpoint-up(md) {
    min-height: 75vh;
  }

  &--sponsor {
    background: $cta-gradient;
    color: $hero-font-color;
  }

  &__logo {
    width: 10rem;
    margin: 5rem 0 2rem;
  }

  &__tagline {
    margin: 0 0 2rem;
    font-size: 3.75rem;
    font-family: 'Reem Kufi', sans-serif;
    
    
    @include media-breakpoint-up(md) {
      margin-top: 3rem;
    }
  }

  &__location {
    text-transform: uppercase;
    font-size: 1.3rem;
  }

  &__date {
    font-size: 1.1rem;
  }

  &__desc {
    font-size : 1.3rem;
    //color: $dark-blue;
  }

  &__feature-image {
    padding-bottom: 3em;
    margin-top: 5.8rem;
    -webkit-filter: drop-shadow( 8px 8px 7px #808080); 
    filter: drop-shadow( 8px 8px 7px #808080);
    margin-left : 7rem;
    transform: rotate(20deg);
  }

  &__cta {
    margin-top: 2.2rem;
  }

  &__signup {
    width: 100%;
    text-align: left;
    &-input {
      left: 0;
      width: 75% !important;

      @include media-breakpoint-down(md) {
        width: 100% !important;
      }
    }
  }
}